.thumblist {
    padding: 0;
    margin: 0;
    list-style: none;
}

.thumblist div {
    float: left;
    height: 30%;
    width: 30%;
    margin: 0px;
    overflow: hidden;
}

.thumblist img {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    -ms-interpolation-mode: bicubic; /* Better image scaling in IE */
}