<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db">

<!--<resultMap id="member" type="board">
	<id property="seq" column="SEQ" />
	<result property="title" column="TITLE" />
	<result property="writer" column="WRITER" />
	<result property="content" column="CONTENT" />
	<result property="regDate" column="REGDATE" />
	<result property="cnt" column="CNT" />
	</resultMap> -->

	<resultMap id="commentResult" type="comment">
		<result property="comment_id" column="CMT_ID" />
		<result property="comment_writer" column="CMT_WRITER" />
		<result property="comment_content" column="CMT_CONTENT" />
		<result property="post_id" column="POST_ID" />
		<result property="regDate" column="REGDATE" />
	</resultMap>
	


	<!-- *********************************** [ COMMENT DB ] *********************************** -->
	<insert id="insertComment" parameterType="comment">
		<![CDATA[
  		INSERT INTO cmt 
  		(cmt_id, cmt_writer, cmt_content, post_id, regdate) 
  		VALUES (#{comment_id}, #{comment_writer}, #{comment_content}, #{post_id}, sysdate) 
		]]>
	</insert>

	<select id="getCommentCnt" parameterType="comment"	resultType="int">
	<![CDATA[
	SELECT count(*) FROM cmt
	WHERE post_id = #{post_id}
 		]]>
	</select>

	<select id="getComment" parameterType="comment"
		resultType="comment">
	<![CDATA[
	SELECT * FROM cmt
	WHERE comment_id = #{comment_id} AND comment_writer = #{comment_writer}
 	]]>
	</select>

	<update id="updateComment" parameterType="comment">
		<![CDATA[
		UPDATE cmt SET comment_content = #{comment_content} 
		WHERE post_id = #{post_id} AND cmt_writer = #{comment_writer}
 		]]>
	</update>

	<delete id="deleteComment" parameterType="comment">
	<![CDATA[
	DELETE FROM cmt 
	WHERE post_id = #{post_id} AND comment_writer = #{comment_writer}
 		]]>
	</delete>

	<select id="getCommentList" parameterType="comment" resultType="comment">
	<![CDATA[
	SELECT *
	FROM cmt 
	WHERE post_id = #{post_id} 
	ORDER BY post_id asc, cmt_id
	]]>
	</select>

	<!-- *********************************** END OF [ COMMENT DB ] *********************************** -->


	<!-- *********************************** [ LIKE DB ] *********************************** -->
	<select id="likeExists" parameterType="like" resultType="like">
	<![CDATA[
	SELECT * FROM lk 
	WHERE like_user = #{like_user} AND post_id = #{post_id}
	]]>
	</select>
	
	<insert id="insertLike" parameterType="like">
	<![CDATA[
	INSERT INTO lk 
  		(like_id, like_user, post_id) 
  		VALUES (seq_lk_id.NEXTVAL, #{like_user}, #{post_id})
	]]>
	</insert>

	<delete id="deleteLike" parameterType="like">
	<![CDATA[
	DELETE FROM lk 
	WHERE post_id = #{post_id} AND like_user = #{like_user}
	]]>
	</delete>

	<select id="getLikeList" parameterType="like" resultType="like">
	<![CDATA[
	SELECT * FROM lk
	WHERE post_id = #{post_id}
	ORDER BY sysdate DESC
	]]>
	</select>

	<!-- *********************************** END OF [ LIKE DB ] *********************************** -->


	<!-- *********************************** [ MEMBER DB ] *********************************** -->
	<insert id="insertMember" parameterType="member">
		<![CDATA[
 		INSERT INTO member
 		(member_id, member_email, member_pass, member_channel, member_nick, now_weight, goal_weight, sport1, sport2, sport3, regdate) 
 		VALUES (member_memberid_seq.nextval, #{member_email}, #{member_pass}, #{member_channel}, #{member_nick}, #{now_weight}, #{goal_weight}, #{sport1}, #{sport2}, #{sport3}, sysdate)				
 		]]>
	</insert>

	<!-- <update id="updateMember" parameterType="member"> -->
	<!-- <![CDATA[ -->
	<!-- *************{{{{ QUERY }}}}**************** -->
	<!-- ]]> -->
	<!-- </update> -->

	<!-- <delete id="deleteMember" parameterType="member"> -->
	<!-- <![CDATA[ -->
	<!-- *************{{{{ QUERY }}}}**************** -->
	<!-- ]]> -->
	<!-- </delete> -->

	<select id="getMember" parameterType="member"
		resultType="member">
		<![CDATA[
  		SELECT * FROM member 
  		WHERE (member_email = #{member_email})
  			AND (member_pass = #{member_pass})
  		]]>
	</select>

	<!-- 회원가입 시 ID(이메일) 사용가능여부 체크하는 쿼리 -->
	<select id="idCheck" parameterType="member" resultType="member">
		<![CDATA[
		SELECT * FROM member
		WHERE member_email = #{member_email}]]>
		<if test="member_pass != null">
			<![CDATA[
			AND member_pass = #{member_pass}]]>
		</if>
	</select>		



	<!-- <select id="getMemberList" parameterType="member" resultMap="member"> -->
	<!-- <![CDATA[ -->
	<!-- *************{{{{ QUERY }}}}**************** -->
	<!-- ]]> -->
	<!-- </select> -->

	<select id="loginMember" parameterType="member"	resultType="member">
		<![CDATA[
  		SELECT * FROM member 
  		WHERE member_email = #{member_email}]]>
  		<if test="#{member_pass} != null">
			<![CDATA[
			AND member_pass = #{member_pass}]]>
		</if>
	</select>

	<!-- *********************************** END OF [ MEMBER DB ] *********************************** -->


	<!-- *********************************** [ MOOD DB ] *********************************** -->
	<!-- <select id="getMood" parameterType="mood" resultType="mood"> -->
	<!-- <![CDATA[ -->
	<!-- *************{{{{ QUERY }}}}**************** -->
	<!-- ]]> -->
	<!-- </select> -->

	<!-- *********************************** END OF [ MOOD DB ] *********************************** -->


	<!-- *********************************** [ POST DB ] *********************************** -->
	<insert id="insertPost" parameterType="post">
	<![CDATA[
	INSERT INTO post
	(post_id, post_writer, selected_date, post_date, post_mood, 
	member_tag, sport_name, place_tag, pic_count, 
	content, total_calories, path_pic, privacy)
	
	VALUES (#{post_id}, #{post_writer}, #{selected_date}, sysdate, #{post_mood}, 
	#{member_tag}, #{sport_name}, #{place_tag}, #{pic_count}, 
	#{content}, #{total_calories}, #{path_pic}, #{privacy})
	]]>
	</insert>

	<!-- <update id="updatePost" parameterType="post"> -->
	<!-- <![CDATA[ -->
	<!-- *************{{{{ QUERY }}}}**************** -->
	<!-- ]]> -->
	<!-- </update> -->

	<!-- <delete id="deletePost" parameterType="post"> -->
	<!-- <![CDATA[ -->
	<!-- *************{{{{ QUERY }}}}**************** -->
	<!-- ]]> -->
	<!-- </delete> -->

	<select id="getPost" parameterType="post" resultType="post">
	<![CDATA[
	SELECT * FROM post
	WHERE post_id = #{post_id}
	]]>
	</select>
	
	<select id="getPostId" resultType="post">
	<![CDATA[
	SELECT SEQ_POST_ID.nextval AS post_id FROM dual
	]]>
	</select>

	<select id="countPost" parameterType="post" resultType="int">
	<![CDATA[
	SELECT count(*) FROM post
	WHERE post_writer = #{post_writer}
	]]>
	</select>


	<select id="getPostList" parameterType="post" resultType="post">
	<![CDATA[
 	SELECT * FROM post
 	ORDER BY post_date DESC
	]]>
	</select>

	<!-- *********************************** END OF [ POST DB ] *********************************** -->


	<!-- *********************************** [ MOOD DB ] *********************************** -->
	<!-- <select id="getSport" parameterType="sport" resultType="sport"> -->
	<!-- <![CDATA[ -->
	<!-- *************{{{{ QUERY }}}}**************** -->
	<!-- ]]> -->
	<!-- </select> -->

	<!-- *********************************** END OF [ MOOD DB ] *********************************** -->
</mapper>